* {
    font-family: 'Alegreya Sans';
}

#page, html, body, section {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#page {
    display: none;
    background-image: url('../img/icons/bg-frontpage1.jpg');
    background-size: 100% 100%;
    background-repeat: repeat-x;
}

/*#home .background.left {
    display: none;
    background-image: url('../img/images/bg-frontpage-left.jpg');
    background-position: left;
}

#home .background.right {
    display: none;
    background-image: url('../img/images/bg-frontpage-right.jpg');
    background-position: right;
}*/

#home .background {
    background-repeat: no-repeat;
    height: 100%;
    width: 50%;
    float: left;
    background-size: auto 100%; 
}

#home .center {
    top: 150%;
    position: absolute;
    width: 100%;
    height: 380px;
    margin-top: -190px;
}

#home .center .logo {
    width: 191px;
    margin-left: auto;
    margin-right: auto;
}

#home .center .title {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: green;
}

#home .center .separator {
    width: 440px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

#home .center .separator .line {
    background-color: grey;
    width: 200px;
    height: 2px;
    float: left;
    margin-top: 10px;
    display: none;
}

#home .center .separator img {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    display: none;
}

#home .center .text {
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    color: grey;
}

#fullbackground, #fullbackground2 {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../img/images/bg-frontpage.jpg');
}

#fullscreen {
    display: none;
    position: absolute;
    bottom: 0;
    height: 75%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/icons/full-screen+.png');
    background-size: auto 100%;
}

#fullscreen.open {
    background-image: url('../img/icons/full-screen-.png');
}

#fullscreen .click {
    width: 4%;
    height: 10%;
    position: absolute;
    bottom: 4%;
    //background: black;
    left: 30px;
    cursor: pointer;
}

#container {
    //width: 100%;
    //height: 100%;
    width: 990px;
    height: 635px;
    position: absolute;
    bottom: 0;
    //left: 30%;
    //left: 81%;
    left: 110%;
}

#container .content-color {
    position: absolute;
    bottom: 0;
    //left: -35px;
    left: 15%;
    height: 98%;
    width: 100%;
    background-size: auto 100%;
}

#container .content-color.content2 {
    display: none;
}

#container .content-white {
    position: absolute;
    top: 0;
    //left: 35px;
    height: 100%;
    width: 100%;
    //background-size: auto 100%;
    background-size: cover;
}

#container .content-white nav {
    height: 100%;
}

#container .content-white nav .menuItem {
    height: 16.67%;
    position: relative;
}

#container .content-white nav .menuItem img {
    position: relative;
    top: 25%;
    cursor: pointer;
    height: 0;
    width: 0;
}

#container .content-white nav .menuItem.item-1 {
    left: 140px;
}

#container .content-white nav .menuItem.item-2 {
    left: 125px;
}

#container .content-white nav .menuItem.item-3 {
    left: 100px;
}

#container .content-white nav .menuItem.item-4 {
    left: 70px;
}

#container .content-white nav .menuItem.item-5 {
    left: 45px;
}

#container .content-white nav .menuItem.item-6 {
    left: 15px;
}

#container .content1 .slide {
    position: absolute;
    top: 50%;
    width: 550px;
    margin-top: -200px;
}

#container .content1.content-white .slide {
    left: 24%;
}

#container .content1.content-color .slide {
    left: 13%;
}

#container .content1 .slide .slideContent {
    //width: 75%;
    width: 460px;
}

#container .content-white .slide .slideContent {
    float: left;
}

#container .content-color .slide .slideContent {
    float: right;
}

#container .content1 .slide .slideContent .slideLogo {
    text-align: center;
}

#container .content1 .slide .slideContent h2 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 5px;
    color: #3e3e3e;
}

#container .content1 .slide .slideContent .line {
    height: 1px;
    background-color: #3e3e3e;
}

#container .content1 .slide .slideContent p {
    font-size: 14px;
    text-align: justify;
}

#container .content-color .slide .slideContent p {
    color: white;
}

#container .content1 .slide .slideContent p span.bigLetter {
    font-size: 24px;
    text-transform: uppercase;
}

#container .content1 .slide .slideContent iframe {
    margin-top: 20px;
}

#container .content1 .slide .navigation {
    //width: 25%;
    text-align: center;
    position: absolute;
    top: 50%;
    //right: 0;
    margin-top: -65px;

}

#container .content-white .slide .navigation {
    //float: right;
    left: 460px;
    margin-left: 50px;
}

#container .content-color .slide .navigation {
    //float: right;
    right: 460px;
    margin-right: 50px;
}

#container .content1 .slide .navigation img {
    cursor: pointer;
}

#container .content1 .slide .navigation .numbers p {
    font-size: 16px;
    line-height: 40px;
}

#container .content1.content-color .slide .navigation .numbers p {
    color: white;
}

#container .content1 .slide .navigation .numbers p .bigNumber {
    font-size: 30px;
    font-weight: bold;
}

#container .content1 .slide .slideContent .images-slide::before, #container .content1 .slide .slideContent .images-slide::after {
    content: "";
    display: table;
    box-sizing: border-box;
}

#container .content1 .slide .slideContent .images-slide::after {
    clear: both;
}

#container .content1 .slide .slideContent .image {
    float: left;
    margin-bottom: 5px;
    cursor: pointer;
}

#container .content1 .slide .slideContent .image:nth-child(1), #container .content1 .slide .slideContent .image:nth-child(3) {
    margin-right: 10px;
}

#container .content1 .slide .slideContent .image img {
    height: 224px;
    width: 224px;
}

#container .content1 .slide .slideContent .image .titleImage {
    position: absolute;
}

#container .content1 .slide .slideContent .image .titleImage p {
    text-align: center;
    position: absolute;
    width: 225px;
    bottom: 73px;
    color: white;
    font-size: 18px;
}