#content {
    text-align: center;
    width: 100%;
    height: 520px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0px;
}

#logo {
    margin-bottom: 15px;
}

#logo .subtitle {
    margin-top: 15px;
    font-size: 13.5px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

#categories {
    width: 100%;
    height: 350px;
}

#categories .block {
    background-color: white;
    height: 320px;
    float: left;
    margin-left: 10px;
    padding: 15px;
}

#categories .block:first-child {
    margin-left: 0px;
}

#categories .block .image img {
    width: 208px;
    height: 208px;
}

#categories .block .image {
    margin-bottom: 15px;
}

#categories .block .text .title {
    margin-bottom: 15px;
}

#navigation-categories {
    width: 119px;
    margin: 0 auto;
    cursor: pointer;
}

#navigation-categories .control {
    float: left;
}

#navigation-categories .left-control{
    margin-right: 5px;
}

#categories .block{
    position: absolute;
    right: -320px;
}

#categories .text, #navigation-categories, #logo, .background-images {
    display: none;
}